---
import { Debug } from "astro:components";
import { getRelease, getReleases } from "../../utils/sanity";
import { urlForImage } from "../../utils/index";

export async function getStaticPaths() {
  const releases = await getReleases();
  return releases.map((release) => ({
    params: { slug: release.slug.current },
  }));
}

const { slug } = Astro.params;
const release = await getRelease(slug);

---

<div>
  <h1>{release.title}</h1>
  <img src={urlForImage(release.logo).url()} alt={release.title} />

  <p>
    Release Date: {
      release.releaseDate + " " + release.releaseDateAddendum ?? ""
    }
  </p>
  <p
    style={{
      backgroundColor: "#" + release.color,
      color: "white",
      padding: "0.5rem",
      borderRadius: "0.25rem",
    }}
  >
    Color: {release.color}
  </p>
</div>

<Debug {release} />
