---
import Layout from "@src/layouts/Layout.astro";
import { getPost } from "@utils/sanity";
import { formatDate } from "@utils/index";
import { toHTML } from "@portabletext/to-html";
import { getLocale } from "i18n:astro";
import { Debug } from "astro:components";

const { slug } = Astro.params;
let post = await getPost(slug);
const locale = getLocale();
const body =
  post.body.find((body) => body._key === locale) ||
  post.body.find((body) => body._key === "en");
---

<Layout title={post.title}>
  <div class="container pt-10 px-6 mx-auto">
    <div
      class="max-w-prose text-black dark:text-white mx-auto border-b pb-4 mb-4 border-slate-500/20 sm:text-center"
    >
      <h1 class="text-4xl font-extrabold mb-3">{post.title}</h1>
      <div class="text-slate-400">
        {formatDate(post.publishedAt)}
      </div>
    </div>

    <div class="max-w-prose mx-auto mt-10 prose dark:prose-invert">
      <div
        set:html={toHTML(body.value, {
          components: {
            types: {
              calloutButton: ({ value }) => {
                // get the URL and the type of content
                let url = "/projects/rules";
                let content = value.content;
                if (content === "projectSubmission") {
                  url = value.googleFormUrl;
                }

                // TODO: add icon, and localize the button string
                let buttonString;
                switch (value.content) {
                  case "projectSubmission":
                    // envelope icon
                    buttonString = "Please fill in the Google Forms";
                    break;
                  case "rules":
                    // book icon
                    buttonString = "You can check the rules & submission patterns common to all releases here.";
                    break;
                  default:
                    // ifnformation icon
                    buttonString = "Learn more";
                }

                return `<a href="${url}" class="kodama_btn kodama_btn--primary kodama_btn--lg mx-auto my-2 no-underline text-xl">${buttonString}</a>`;
              }
              },
            },
          },
        )}
      />
    </div>
  </div>
</Layout>

